.Wrapper {
  width: 250px;
  height: auto;
  background-color: #293462;
  padding: 10px;
}

.domStyle {
  background-color: blueviolet !important;
  color: white !important;
  height: 30px !important;
}

.Content {
  margin-bottom: 20px;
}

.Title {
  color: white;
  border-bottom: 1px solid white;
  text-align: center !important;
}
p {
  color: white;
  text-align: left;
}

span {
  font-weight: bold;
}

button {
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
